<div class="cv-main-wrapper">
    <div class="cv-main-content">
        <app-profile-component></app-profile-component>

        <div class="box">
            <div class="main-title">
                <span class="icon -ap icon-briefcase2"></span> MY PROJECT
            </div>
            <app-project-component></app-project-component>
        </div>
        <div class="box">
            <div class="main-title">
                <span class="icon -ap icon-school"></span> EDUCATION
            </div>
            <app-school-component></app-school-component>
        </div>
    </div>
    <div class="cv-main-sidebar">
        <div class="box">
            <div class="quote -ap icon-quotes-left"></div>
            <div class="desc">
                {{ profile.description }}
            </div>
        </div>
        <div class="box">
            <div class="main-title">PRO SKILLS</div>
            <div class="list-skills">
                <app-skill-component></app-skill-component>
            </div>
        </div>

        <div class="box">
            <div class="main-title">FOLLOW ME</div>

            <div class="list-social">
                <a class="item" href="#">
                    <span class="icon -ap icon-dribbble"></span> dribbble.com/nguyenvanuoc
                </a>
                <a class="item" href="#">
                    <span class="icon -ap icon-twitter"></span> twitter.com/nguyenvanuoc
                </a>
                <a class="item" href="#">
                    <span class="icon -ap icon-facebook"></span> fb.com/nguyenvanuoc
                </a>
            </div>
        </div>
    </div>
</div>