<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="projectForm" (submit)="submit(projectForm.value)">
                <p>
                    <input type="text" hidden formControlName="id" [(ngModel)]="project.id" class="form-control" />
                </p>
                <p>
                    <label>Name</label>
                    <input type="text" formControlName="name" [(ngModel)]="project.name" class="form-control" />
                </p>
                <p>
                    <label>time_startc</label>
                    <input type="date" formControlName="time_start" [(ngModel)]="project.time_start" class="form-control" />
                </p>
                <p>
                    <label>time_end</label>
                    <input type="date" formControlName="time_end" [(ngModel)]="project.time_end" class="form-control" />
                </p>
                <p>
                    <label>description</label>
                    <textarea type="text" formControlName="description" [(ngModel)]="project.description" class="form-control"></textarea>
                </p>
                <button class="btn btn-success" [disabled]="projectForm.invalid">
          {{ isEdit ? "Update project" : " Add project" }}
        </button>
            </form>
        </div>
        <div class="col-md-8">
            <table class="table table-light">
                <thead>
                    <th>Name</th>
                    <th>time_start</th>
                    <th>time_end</th>
                    <th>description</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of projects">
                        <td>{{ item.name }}</td>
                        <td>{{ item.time_start }}</td>
                        <td>{{ item.time_end }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <button class="btn btn-warning" (click)="edit(item.id)">
                edit
              </button>
                            <button class="btn btn-danger" (click)="delete(item.id)">
                delete
              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>